@import url('./reset.css');
@import url('./componets/_navigator.css');
@import url('./componets/_pills.css');
@import url('./componets/_link-button.css');
@import url('./componets/_gallery.css');

.s-wrapper {
    display:flex;
    flex-flow: row nowrap;
    height: 100vh;    
}

.s-wrapper video {
    position: fixed;
    width: 100%;   
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;    
    display: flex;    
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;    
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.swrapper .s-main-content__bottom{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content .s-logo img {
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 30px;
    max-width: 60%;   
} 

.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, .7);
    max-width: 50%;    
    padding: 1.25rem;
    border-radius: .625rem;    
}

.s-wrapper .s-main-content__top .s-description .s-description__text {
    color: var(--secondary-color);
    line-height: 170%;
    text-align: justify;
    font-size: .875rem;
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 1.25rem;
}

.s-links {
    padding: 1rem 0;
}

