.gallery {
    padding: 20px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 20px;
}

.galery ul li:first-child {
    margin-left: 0;
}

.galery ul li a img {
    border: solid 6px var(--secondary-color);
    border-radius: 15px;
}