a.link-button {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: var(--secondary-color);
}

a.link-button .icon {
    width: 2rem;
    height: 2rem;
    padding: 3px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    background-clip: content-box;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.link-button .icon .play-icon {
    width: 0;
    height: 0;
    border: solid 7px var(--secondary-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-right: -7px;
}

a.link-button .label {
    margin-left: .8rem;
}

.s-links ul {
    display: flex;
    flex-direction: row;
}