.pills ul {
    display: flex;
    flex-direction: row;;
}

.pills ul li {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .435rem 1.125rem;    
    margin: 0 .75rem;
    border-radius: 1.25rem;
    text-transform: uppercase;
}

.pills ul li:first-child {
    margin-left: 0;
}
